In [1]:
print("Name : Amruthavarshini Gopal")
print("Register Number : 212223230013")
import pandas as pd
df=pd.read_csv("Salary.csv")
df.head()

Name : Amruthavarshini Gopal
Register Number : 212223230013

            Position  Level  Salary
0   Business Analyst      1   45000
1  Junior Consultant      2   50000
2  Senior Consultant      3   60000
3            Manager      4   80000
4    Country Manager      5  110000

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Position  10 non-null     object
 1   Level     10 non-null     int64
 2   Salary    10 non-null     int64
dtypes: int64(2), object(1)
memory usage: 372.0+ bytes

In [3]:
df.isnull().sum()

Position    0
Level       0
Salary      0
dtype: int64

In [4]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['Position']=le.fit_transform(df['Position'])
df.head()

   Position  Level  Salary
0         0      1   45000
1         4      2   50000
2         8      3   60000
3         5      4   80000
4         3      5  110000

In [5]:
x=df[['Position','Level']]

In [6]:
y=df['Salary']

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
from sklearn.tree import DecisionTreeRegressor
model=DecisionTreeRegressor()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
from sklearn.metrics import mean_squared_error,r2_score
mse=mean_squared_error(y_test,y_pred)
mse

45012500000.0

In [8]:
r2=r2_score(y_test,y_pred)
r2

0.11086419753086418

In [9]:
print("Name : Amruthavarshini Gopal")
print("Register Number : 212223230013")
model.predict([[5,6]])

Name : Amruthavarshini Gopal
Register Number : 212223230013

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

array([110000.])